<li class="oxy-pagination__item">
  <%= content_tag :a, raw(t 'views.pagination.truncate'), class: "mdl-button oxy-pagination__link--current oxy-pagination__link mdl-js-button mdl-js-ripple-effect mdl-js-ripple-effect" %>
</li>
