<% if current_page.last? %>
<li class="oxy-pagination__item">
    <%= content_tag :a, class: "mdl-button oxy-pagination__link--current oxy-pagination__link mdl-js-button mdl-js-ripple-effect mdl-js-ripple-effect" do %>
      <i class="material-icons">arrow_forward</i>
    <% end %>
  </li>
<% else %>
  <li class="oxy-pagination__item">
    <%= link_to url, :rel => 'next', class: 'mdl-button oxy-pagination__link mdl-js-button mdl-js-ripple-effect mdl-js-ripple-effect', :remote => remote do %>
      <i class="material-icons">arrow_forward</i>
    <% end %>
  </li>
<% end %>
