<footer class="footer">
    <div class="container">
        <p class="text-muted"><i class="glyphicon glyphicon-registration-mark"></i> <%=APPLICATION_MANAGER_NAME%> <%=Time.now.strftime('%Y')%></p>
    </div>
</footer>