<% # CADASTRO PARA RECEBER CUPOM DE DESCONTO %>

<div class="oxy-section">
   <div class="oxy-section__background oxy-section__background--bottom-align oxy-background-parallax"><img src="<%=image_url('bg8-notinclude.jpg')%>" alt="section background"></div>
   <div class="oxy-section__overlay"></div>
   <div class="oxy-section__content">
      <div class="mdl-grid mdl-grid--no-fullwidth">
         <div class="mdl-cell mdl-cell--12-col oxy-animation" data-os-animation=fadeIn data-os-animation-delay=0.1s>
            <h2 class="oxy-color-light mdl-typography--display-1 mdl-typography--font-thin oxy-margin-top-80 oxy-margin-bottom-20 mdl-typography--text-center">Ganhe 10% de desconto em sua primeira compra</h2>
         </div>
      </div>
      <form action=# class="oxy-margin-bottom-80 oxy-color-light mdl-typography--text-center">
         <div class="mdl-grid mdl-grid--no-fullwidth">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--middle mdl-typography--text-center">
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"><label class=mdl-textfield__label for=discount-email>Seu email</label> <input class=mdl-textfield__input type=text id=discount-email></div>
               <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-js-ripple-effect mdl-button--accent oxy-margin-bottom-10 oxy-margin-left-30 oxy-margin-right-30">Ganhe um desconto</button>
            </div>
         </div>
      </form>
   </div>
</div>