<div class=oxy-section>
   <div class="oxy-section__background oxy-background-parallax">
    <img src="<%=image_url(random_images)%>" alt="section background">
  </div>
   <div class="oxy-section__overlay oxy-section__overlay--gradient-from-top-30"></div>
   <div class=oxy-section__content>
      <div class="mdl-grid mdl-grid--no-fullwidth">
         <h1 class="oxy-color-light mdl-typography--display-1 mdl-typography--font-thin oxy-margin-top-100 oxy-margin-bottom-100" id="top-background-random-name"><%=name%></h1>
      </div>
   </div>
</div>