                  <ul class=oxy-list>
                     <li class=oxy-list__item>
                        <div class=oxy-list__item-text>
                            <a href="<%=panel_my_orders_path%>" class=oxy-list__title>Meus Pedidos</a>
                        </div>
                     </li>

                     <span class=mdl-navigation__link-divider></span> 
                     
                     <li class=oxy-list__item>
                        <div class=oxy-list__item-text>
                            <a href="<%=panel_my_personal_details_path%>" class=oxy-list__title>Meus Dados Pessoais</a>
                        </div>
                     </li>

                     <span class=mdl-navigation__link-divider></span>

                     <li class=oxy-list__item>
                        <div class=oxy-list__item-text>
                            <a href="<%=panel_addresses_path%>" class=oxy-list__title>Meus Endereços</a>
                        </div>
                     </li>  
                  </ul>
